h1 {
    color: cyan;
    text-align: center;
    background-image: url('../image/BackgroundImage.jpg');
    padding-bottom: 0px;
    margin-bottom: 0px;
}

tr {
    background-image: url('../image/BackgroundImage.jpg');
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
    border: 1px solid black;
}

a:link {
    color: cyan;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.a2 {
    border: 1px solid black;
    margin-top: 10px;
}

.About {
    margin-left: 150px;
    color: white;
    font-size: 1.2em;
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
    text-align: justify;
    width: 70%;
    float: left;
}

.td1 {
    vertical-align: middle;
    text-align: center;
}

.td2 {
    vertical-align: middle;
}

.td3 {
    vertical-align: middle;
    text-align: center;
}

.img1 {
    margin-top: 30px;
}

.img2 {
    margin-top: 30px; 
}

.menu {
    color: white;
    text-align: center;
    padding-top: 0px;
    background-image: url('../image/BackgroundImage.jpg');
}

.bullets {
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 30px;
    height: 100%;
    align-content: space-between;
    justify-content: space-evenly;
}
.grid-container > div {
    text-align: center;
    font-size: 30px;
}

#leftDiv {
    float: left;
    width: 16%;
    position: relative;
}

#rightDiv {
    width: 75%;
    position: relative;
    float:left;
    left: 100px;
    margin-top: 20px;
}

#profilePic {
    width: 98%;
    float: left;
    margin-left: 175px;
}

#contactInfo {
    color: white;
    text-align: center;
    padding-top: 100px;
}

#placeholder1 {
    width: 70%;
    padding-top: 30px;
}

#placeholder2 {
    width: 60%;
    padding-top: 30px;
}

#placeholder3 {
    width: 80%;
    padding-top: 30px;
}

#placeholder4 {
    width: 70%;
    padding-top: 30px;
}

#placeholder5 {
    width: 80%;
    padding-top: 30px;
}